@charset "UTF-8";
/* Variables  */
.br-1 {
  border-radius: 5px; }

.br-2 {
  border-radius: 10px; }

.br-3 {
  border-radius: 15px; }

.br-4 {
  border-radius: 20px; }

.br-5 {
  border-radius: 25px; }

.br-6 {
  border-radius: 30px; }

.br-7 {
  border-radius: 35px; }

.br-8 {
  border-radius: 40px; }

.br-9 {
  border-radius: 45px; }

.br-10 {
  border-radius: 50px; }

.br-11 {
  border-radius: 55px; }

.br-12 {
  border-radius: 60px; }

.br-13 {
  border-radius: 65px; }

.br-14 {
  border-radius: 70px; }

.br-15 {
  border-radius: 75px; }

.br-16 {
  border-radius: 80px; }

.br-17 {
  border-radius: 85px; }

.br-18 {
  border-radius: 90px; }

.br-19 {
  border-radius: 95px; }

.br-20 {
  border-radius: 100px; }

/* //**************************** */
.w-1 {
  width: 50px; }

.w-2 {
  width: 100px; }

.w-3 {
  width: 150px; }

.w-4 {
  width: 200px; }

.w-5 {
  width: 250px; }

.w-6 {
  width: 300px; }

.w-7 {
  width: 350px; }

.w-8 {
  width: 400px; }

.w-9 {
  width: 450px; }

.w-10 {
  width: 500px; }

.w-11 {
  width: 550px; }

.w-12 {
  width: 600px; }

.w-13 {
  width: 650px; }

.w-14 {
  width: 700px; }

.w-15 {
  width: 750px; }

.w-16 {
  width: 800px; }

.w-17 {
  width: 850px; }

.w-18 {
  width: 900px; }

.w-19 {
  width: 950px; }

.w-20 {
  width: 1000px; }

/* ******************************* */
.h-1 {
  height: 50px; }

.h-2 {
  height: 100px; }

.h-3 {
  height: 150px; }

.h-4 {
  height: 200px; }

.h-5 {
  height: 250px; }

.h-6 {
  height: 300px; }

.h-7 {
  height: 350px; }

.h-8 {
  height: 400px; }

.h-9 {
  height: 450px; }

.h-10 {
  height: 500px; }

.h-11 {
  height: 550px; }

.h-12 {
  height: 600px; }

.h-13 {
  height: 650px; }

.h-14 {
  height: 700px; }

.h-15 {
  height: 750px; }

.h-16 {
  height: 800px; }

.h-17 {
  height: 850px; }

.h-18 {
  height: 900px; }

.h-19 {
  height: 950px; }

.h-20 {
  height: 1000px; }

/* ******************************* */
.font-1 {
  font-size: 5px; }

.font-2 {
  font-size: 10px; }

.font-3 {
  font-size: 15px; }

.font-4 {
  font-size: 20px; }

.font-5 {
  font-size: 25px; }

.font-6 {
  font-size: 30px; }

.font-7 {
  font-size: 35px; }

.font-8 {
  font-size: 40px; }

.font-9 {
  font-size: 45px; }

.font-10 {
  font-size: 50px; }

.font-11 {
  font-size: 55px; }

.font-12 {
  font-size: 60px; }

.font-13 {
  font-size: 65px; }

.font-14 {
  font-size: 70px; }

.font-15 {
  font-size: 75px; }

.font-16 {
  font-size: 80px; }

.font-17 {
  font-size: 85px; }

.font-18 {
  font-size: 90px; }

.font-19 {
  font-size: 95px; }

.font-20 {
  font-size: 100px; }

/* ******************************** */
/* Estilos para los encabezados y menus (INICIO) */
#encabezado {
  height: 500px;
  background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezado.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center; }

#encabezadoDisc {
  height: 500px;
  background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoDisc.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center; }

#encabezadoBand {
  height: 500px;
  background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoBand.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center; }

#encabezadoConc {
  height: 500px;
  background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoConc.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center; }

#encabezadoColab {
  height: 500px;
  background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoColab.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center; }

#encabezadoHabl {
  height: 500px;
  background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoHabl.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center; }

#encabezadoHome {
  height: 500px;
  background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoHome.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center; }

h1 {
  padding-top: 150px; }

h1, h2 {
  color: rgba(196, 196, 196, 0.897); }

/* Menu */
.nav-link {
  font-size: 20px;
  color: #c9c9c9; }

.nav-link:hover {
  color: rgba(187, 194, 202, 0.781); }

.navResponsive {
  display: none; }

/* ESTILOS PARA INDEX */
.imgIndex p {
  color: rgba(255, 255, 255, 0.856); }

#ArtIndexUno {
  display: flex;
  justify-content: space-evenly;
  padding: 45px;
  padding-left: 35px;
  background: linear-gradient(rgba(78, 80, 85, 0.75), rgba(5, 7, 12, 0.75)); }

.card {
  margin: 2%;
  padding: 1em;
  width: 375px;
  transition: all 2s;
  background-color: #0b0b0e54;
  color: white;
  border-radius: 20px;
  background: #272727;
  box-shadow: 22px 22px 44px #535353, -22px -22px 44px #424242; }
  .card img {
    transition: all 2s;
    border-radius: 20px; }
  .card img:hover {
    transform: scale(1.1); }

.SectionCarru {
  background-color: #333333; }

.ArtImg {
  width: 900px;
  height: 500px; }
  .ArtImg img {
    width: 900px;
    height: 500px;
    border-radius: 30px; }

#ArtIndexDos {
  background-color: gray; }
  #ArtIndexDos h2 {
    color: black;
    padding-top: 20px; }

video {
  height: 650px; }

.videoIndex {
  padding: 0em;
  display: flex; }
  .videoIndex p {
    padding-left: 10%;
    text-align: center;
    width: 90%;
    color: black;
    font-size: 25px; }

/* Estilos para discografia */
#sectionDisc {
  padding: 100px 100px;
  background-image: radial-gradient(#7c8888, #223534); }
  #sectionDisc h2 {
    color: black;
    line-height: 3;
    text-align: center;
    font-weight: bold; }

.titilosDisc {
  color: #000000c9; }

.articDisc p {
  width: 300px;
  font-size: 20px;
  color: #000000; }

.articDisc div img {
  border-radius: 20px;
  width: 400px;
  height: 400px;
  transition: all 2s;
  border-radius: 20px;
  background: #272727;
  box-shadow: 22px 22px 44px #535353, -22px -22px 44px #000000; }

.articDisc img:hover {
  transform: scale(1.15); }

.articDisc {
  display: grid;
  grid-template-areas: "encabezado encabezado" "titUno titUno " "uno tUNO" "titDos titDos" "tDOS dos" "titTres titTres" "tres tTRES" "titCuatro titCuatro" "tCUATRO cuatro" "titCinco titCinco" "cinco tCINCO" "titSeis titSeis" "tSEIS seis"; }

.encabezadoDisc {
  grid-area: encabezado; }

.tituloUno {
  grid-area: titUno; }

.DiscUno {
  grid-area: uno; }

.tUno {
  grid-area: tUNO;
  justify-self: end; }

.tituloDos {
  grid-area: titDos; }

.DiscDos {
  grid-area: dos;
  justify-self: end; }

.tDos {
  grid-area: tDOS; }

.tituloTres {
  grid-area: titTres; }

.DiscTres {
  grid-area: tres; }

.tTres {
  grid-area: tTRES;
  justify-self: end; }

.tituloCuatro {
  grid-area: titCuatro; }

.DiscCuatro {
  grid-area: cuatro;
  justify-self: end; }

.tCuatro {
  grid-area: tCUATRO; }

.tituloCinco {
  grid-area: titCinco; }

.DiscCinco {
  grid-area: cinco; }

.tCinco {
  grid-area: tCINCO;
  justify-self: end; }

.tituloSeis {
  grid-area: titSeis; }

.DiscSeis {
  grid-area: seis;
  justify-self: end; }

.tSeis {
  grid-area: tSEIS; }

/* Estilos para bandas */
.SectionBand {
  padding: 10px;
  background-color: #918b83; }
  .SectionBand h2 {
    color: black;
    line-height: 3;
    text-align: center;
    font-weight: bold; }
  .SectionBand ul li {
    margin-top: 3px; }
    .SectionBand ul li a {
      text-decoration: none;
      color: gray;
      font-weight: bold; }
    .SectionBand ul li a:hover {
      color: black; }

.BandDiv {
  display: inline-block;
  vertical-align: top;
  margin: 30px;
  padding-top: 30px;
  padding-left: 9%; }
  .BandDiv nav ul li {
    list-style: none; }
    .BandDiv nav ul li button {
      text-align: left; }
  .BandDiv h2 {
    text-align: left;
    color: rgba(0, 0, 0, 0.418);
    font-size: 30px; }

.artUno {
  width: 900px;
  height: 500px;
  padding-left: 30%; }
  .artUno h2 {
    font-size: 40px; }

/* Estilos para conciertos */
.secConc {
  background: #258f90;
  background: radial-gradient(circle, #274f50 0%, rgba(21, 22, 32, 0.637) 99%); }
  .secConc .secConc__h2 {
    color: black;
    line-height: 3;
    text-align: center;
    font-weight: bold; }

.artConc {
  display: flex; }
  .artConc .artConc__text {
    width: 1000px;
    padding-right: 30px;
    margin: 50px;
    height: 100%;
    border-radius: 3px;
    font-size: 20px; }

.artConc .artConc__img {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly; }
  .artConc .artConc__img .artConc__img--tamaño {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 5px;
    transition: all 2s; }
  .artConc .artConc__img .artConc__img--tamaño:hover {
    transform: scale(1.15); }

/* clases para colaboraciones */
.artColab {
  background-color: rgba(0, 0, 0, 0.74); }

.fito {
  text-align: center;
  padding-top: 30px; }

.charly {
  text-align: center;
  padding-top: 30px; }

.pappo {
  text-align: center;
  padding-top: 30px; }

.sosa {
  text-align: center;
  padding-top: 30px; }

.fito__h2 {
  font-size: 60px;
  color: black; }

.charly__h2 {
  font-size: 60px;
  color: black; }

.pappo__h2 {
  font-size: 60px;
  color: black; }

.sosa__h2 {
  font-size: 60px;
  color: black; }

.fito__img {
  width: 300px;
  height: 300px;
  margin-left: 20%;
  margin: 10px;
  margin-top: 20px;
  border-radius: 20px;
  background: #272727;
  box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }

.charly__img {
  width: 300px;
  height: 300px;
  margin-left: 20%;
  margin: 10px;
  margin-top: 20px;
  border-radius: 20px;
  background: #272727;
  box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }

.pappo__img {
  width: 300px;
  height: 300px;
  margin-left: 20%;
  margin: 10px;
  margin-top: 20px;
  border-radius: 20px;
  background: #272727;
  box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }

.sosa__img {
  width: 300px;
  height: 300px;
  margin-left: 20%;
  margin: 10px;
  margin-top: 20px;
  border-radius: 20px;
  background: #272727;
  box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }

.fito__img--alb {
  width: 40%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-top: 30px;
  border-radius: 20px;
  background: #272727;
  box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }

.charly__img--alb {
  width: 40%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-top: 30px;
  border-radius: 20px;
  background: #272727;
  box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }

.pappo__img--alb {
  width: 40%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-top: 30px;
  border-radius: 20px;
  background: #272727;
  box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }

.sosa__img--alb {
  width: 40%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-top: 30px;
  border-radius: 20px;
  background: #272727;
  box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }

.fito__text {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 7%;
  width: 85%;
  color: black;
  font-size: 30px; }

.charly__text {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 7%;
  width: 85%;
  color: black;
  font-size: 30px; }

.pappo__text {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 7%;
  width: 85%;
  color: black;
  font-size: 30px; }

.sosa__text {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 7%;
  width: 85%;
  color: black;
  font-size: 30px; }

/* estilos para homenajes */
.homenajes {
  text-align: center;
  background-color: #504f4f;
  padding-top: 50px; }

.homenajes__img {
  width: 400px;
  height: 300px;
  margin: 6px; }

.homenajes__img--video {
  width: 900px;
  height: 600px;
  padding-bottom: 50px; }

.homenajes__texto {
  margin-left: 15%;
  font-size: 25px;
  color: black;
  width: 70%; }

/* ***************** */
.nat {
  text-align: center;
  background-color: rgba(39, 39, 39, 0.705);
  padding-top: 50px; }

.nat__img {
  width: 400px;
  height: 300px;
  margin: 6px; }

.nat__img--video {
  width: 900px;
  height: 600px;
  padding-bottom: 50px; }

.nat__texto {
  margin-left: 15%;
  font-size: 25px;
  color: black;
  width: 70%; }

/* Estilos para el formulario */
.sectionForm {
  background-color: #3d4553;
  padding-top: 100px;
  padding-bottom: 100px;
  color: cornsilk; }

.form-floating {
  color: black; }

/* estilos para footer */
footer, .info {
  background-color: #000;
  margin-bottom: 0; }

.footer {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.493);
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 40px; }

.info {
  list-style: none;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px; }

#redes ul {
  list-style: none;
  margin: 0;
  padding-top: 20px; }
  #redes ul li {
    display: inline; }
    #redes ul li a {
      display: inline-block;
      width: 45px;
      height: 40px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      text-align: center;
      padding-top: 10px;
      font-size: 129%;
      transition: 700ms;
      border-radius: 5px;
      box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.81) inset;
      -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.81) inset;
      -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.81) inset; }
    #redes ul li a:hover {
      transform: scale(1.12); }

#redes li .icon-facebook2 {
  background-color: #162EB1; }

#redes li .icon-mail4 {
  background-color: #909193; }

#redes li .icon-instagram {
  background-color: #A45A18; }

#redes li .icon-tumblr2 {
  background-color: #C6CB2D; }

#redes li .icon-skype {
  background-color: #1856A4; }

#redes li .icon-paypal {
  background-color: #549FFF; }

.pie {
  padding-bottom: 5px;
  padding-left: 33%;
  font-size: 15px; }

/* ---R-E-S-P-O-N-S-I-V-E---- */
/****TABLET*****/
@media (min-width: 600px) and (max-width: 1024px) {
  #encabezado {
    height: 450px; }
  #encabezadoDisc {
    height: 450px; }
  #encabezadoBand {
    height: 450px; }
  #encabezadoConc {
    height: 450px; }
  #encabezadoColab {
    height: 450px; }
  #encabezadoHabl {
    height: 450px; }
  #encabezadoHome {
    height: 450px; }
  h1 {
    padding-top: 125px; }
  h1, h2 {
    font-size: 25px; }
  /* Menu */
  .nav-link {
    font-size: 20px;
    color: #c9c9c9; }
  #encabezado {
    background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezado.jpg) no-repeat fixed;
    height: 460px;
    background-size: 100% 460px;
    background-position: top; }
  #encabezadoDisc {
    background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoDisc.jpg) no-repeat fixed;
    height: 460px;
    background-size: 100% 460px;
    background-position: top; }
  #encabezadoBand {
    background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoBand.jpg) no-repeat fixed;
    height: 460px;
    background-size: 100% 460px;
    background-position: top; }
  #encabezadoConc {
    background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoConc.jpg) no-repeat fixed;
    height: 460px;
    background-size: 100% 460px;
    background-position: top; }
  #encabezadoColab {
    background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoColab.jpg) no-repeat fixed;
    height: 460px;
    background-size: 100% 460px;
    background-position: top; }
  #encabezadoHabl {
    background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoHabl.jpg) no-repeat fixed;
    height: 460px;
    background-size: 100% 460px;
    background-position: top; }
  #encabezadoHome {
    background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/encabezadoHome.jpg) no-repeat fixed;
    height: 460px;
    background-size: 100% 460px;
    background-position: top; }
  /* ESTILOS PARA INDEX */
  .imgIndex p {
    color: rgba(255, 255, 255, 0.856); }
  #ArtIndexUno {
    padding: 45px;
    padding-left: 35px;
    background: linear-gradient(rgba(78, 80, 85, 0.75), rgba(5, 7, 12, 0.75)); }
  .card {
    padding: 1em;
    width: 30%;
    transition: all 2s;
    background-color: #0b0b0e54;
    color: white;
    border-radius: 20px;
    background: #272727;
    box-shadow: 22px 22px 44px #535353, -22px -22px 44px #424242; }
    .card img {
      transition: all 2s;
      border-radius: 20px;
      height: 100%; }
    .card img:hover {
      transform: none; }
  .card-text {
    display: none; }
  .SectionCarru {
    background-color: #333333; }
  .ArtImg {
    width: 900px;
    height: 500px; }
    .ArtImg img {
      width: 900px;
      height: 500px;
      border-radius: 30px; }
  #ArtIndexDos {
    background-color: gray; }
    #ArtIndexDos h2 {
      color: black;
      padding-top: 20px; }
  video {
    height: 400px; }
  .videoIndex {
    padding: 0em;
    display: flex; }
    .videoIndex p {
      padding-left: 10%;
      text-align: center;
      width: 90%;
      color: black;
      font-size: 25px; }
  /* Estilos para discografia */
  #sectionDisc {
    padding: 50px 50px; }
    #sectionDisc h2 {
      color: black;
      line-height: 3;
      text-align: center;
      font-weight: bold; }
    #sectionDisc img:hover {
      transform: none; }
  .titilosDisc {
    color: #000000c9; }
  .articDisc p {
    font-size: 100%;
    color: #000000; }
  .articDisc div img {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    transition: all 2s;
    border-radius: 20px;
    background: #272727;
    box-shadow: 22px 22px 44px #535353, -22px -22px 44px #000000; }
  .articDisc {
    display: grid;
    grid-template-areas: "encabezado encabezado" "titUno titUno " "uno tUNO" "titDos titDos" "tDOS dos" "titTres titTres" "tres tTRES" "titCuatro titCuatro" "tCUATRO cuatro" "titCinco titCinco" "cinco tCINCO" "titSeis titSeis" "tSEIS seis"; }
  .encabezadoDisc {
    grid-area: encabezado; }
  .tituloUno {
    grid-area: titUno; }
  .DiscUno {
    grid-area: uno; }
  .tUno {
    grid-area: tUNO; }
  .tituloDos {
    grid-area: titDos; }
  .DiscDos {
    grid-area: dos;
    justify-self: end; }
  .tDos {
    grid-area: tDOS; }
  .tituloTres {
    grid-area: titTres; }
  .DiscTres {
    grid-area: tres; }
  .tTres {
    grid-area: tTRES;
    justify-self: end;
    padding-left: 10%; }
  .tituloCuatro {
    grid-area: titCuatro; }
  .DiscCuatro {
    grid-area: cuatro;
    justify-self: end; }
  .tCuatro {
    grid-area: tCUATRO; }
  .tituloCinco {
    grid-area: titCinco; }
  .DiscCinco {
    grid-area: cinco; }
  .tCinco {
    grid-area: tCINCO;
    justify-self: end;
    padding-left: 10%; }
  .tituloSeis {
    grid-area: titSeis; }
  .DiscSeis {
    grid-area: seis;
    justify-self: end; }
  .tSeis {
    grid-area: tSEIS; }
  /* bandas */
  .SectionBand {
    background-color: #918b83; }
    .SectionBand h2 {
      color: black;
      line-height: 3;
      text-align: center;
      font-weight: bold; }
    .SectionBand ul li a {
      text-decoration: none;
      color: gray;
      font-weight: normal;
      transition: 300ms; }
    .SectionBand ul li a:hover {
      color: gray; }
    .SectionBand img {
      margin-left: 0px;
      width: 430px;
      height: 200px; }
  .BandDiv {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0; }
    .BandDiv p {
      width: 100%;
      font-size: 100%; }
    .BandDiv h2 {
      text-align: left;
      color: rgba(0, 0, 0, 0.418); }
  .artUno {
    width: 78%;
    height: 310px;
    padding-left: 25%; }
  /*conciertos */
  .secConc {
    background: #258f90;
    background: radial-gradient(circle, #274f50 0%, rgba(21, 22, 32, 0.637) 99%); }
    .secConc .secConc__h2 {
      color: black;
      line-height: 3;
      text-align: center;
      font-weight: bold; }
  .artConc {
    display: flex;
    flex-direction: column; }
    .artConc .artConc__text {
      width: 80%;
      padding-left: 100px;
      margin: 50px;
      height: 100%;
      border-radius: 3px;
      font-size: 15px; }
  .mediaQ {
    display: flex;
    flex-direction: column-reverse; }
  .artConc .artConc__img {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .artConc .artConc__img .artConc__img--tamaño {
      width: 150px;
      height: 150px;
      border-radius: 5px;
      margin: 5px; }
    .artConc .artConc__img .artConc__img--tamaño:hover {
      transform: none; }
  /* colaboraciones */
  .fito {
    text-align: center;
    padding-top: 30px; }
  .charly {
    text-align: center;
    padding-top: 30px; }
  .pappo {
    text-align: center;
    padding-top: 30px; }
  .sosa {
    text-align: center;
    padding-top: 30px; }
  .fito__h2 {
    font-size: 50px;
    color: black; }
  .charly__h2 {
    font-size: 50px;
    color: black; }
  .pappo__h2 {
    font-size: 50px;
    color: black; }
  .sosa__h2 {
    font-size: 50px;
    color: black; }
  .fito__img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: #272727;
    box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }
  .charly__img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: #272727;
    box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }
  .pappo__img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: #272727;
    box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }
  .sosa__img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: #272727;
    box-shadow: 15px 15px 37px #535353, -15px -15px 37px #000000; }
  .fito__img--alb {
    width: 60%;
    height: 350px;
    margin-left: 20%;
    justify-content: center; }
  .charly__img--alb {
    width: 60%;
    height: 350px;
    margin-left: 20%;
    justify-content: center; }
  .pappo__img--alb {
    width: 60%;
    height: 350px;
    margin-left: 20%;
    justify-content: center; }
  .sosa__img--alb {
    width: 60%;
    height: 350px;
    margin-left: 20%;
    justify-content: center; }
  .fito__text {
    margin-left: 9%;
    width: 85%; }
  .charly__text {
    margin-left: 9%;
    width: 85%; }
  .pappo__text {
    margin-left: 9%;
    width: 85%; }
  .sosa__text {
    margin-left: 9%;
    width: 85%; }
  /* homenajes */
  .homenajes {
    text-align: center;
    background-color: #504f4f;
    padding-top: 50px; }
  .homenajes__img {
    width: 50%;
    height: 150px;
    margin: 6px; }
  .homenajes__img--video {
    width: 100%;
    height: 50%;
    padding-bottom: 50px; }
  .homenajes__texto {
    margin-left: 6%;
    font-size: 18px;
    color: black;
    width: 90%; }
  /* ***************** */
  .nat {
    text-align: center;
    background-color: rgba(39, 39, 39, 0.705);
    padding-top: 50px; }
  .nat__img {
    width: 200px;
    height: 150px;
    margin: 6px; }
  .nat__img--video {
    width: 100%;
    height: 50%;
    padding-bottom: 50px; }
  .nat__texto {
    margin-left: 6%;
    font-size: 18px;
    color: black;
    width: 90%; }
  /* footer */
  .pie {
    padding-bottom: 10px;
    padding-left: 25%;
    font-size: 15px; } }

/* -------------------------------------------------------------------- */
/***SMARTPHONE****/
@media (max-width: 599px) {
  /* Menu */
  .menu {
    display: none; }
  .nav-link {
    font-size: 18px;
    color: #c9c9c9; }
  .nav-link:hover {
    color: rgba(187, 194, 202, 0.781); }
  .navResponsive {
    display: block;
    position: relative; }
  .navbar {
    position: relative;
    z-index: 2000; }
  .navbar-brand {
    color: #d32626; }
  /* encabezado */
  #encabezado {
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(24, 20, 20, 0.486)), url(../imagenes/encabezados/encabezado.jpg) no-repeat fixed;
    height: 280px;
    background-size: 100% 350px;
    background-position: top; }
  #encabezadoDisc {
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(24, 20, 20, 0.486)), url(../imagenes/encabezados/encabezadoDisc.jpg) no-repeat fixed;
    height: 280px;
    background-size: 100% 350px;
    background-position: top; }
  #encabezadoBand {
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(24, 20, 20, 0.486)), url(../imagenes/encabezados/encabezadoBand.jpg) no-repeat fixed;
    height: 280px;
    background-size: 100% 350px;
    background-position: top; }
  #encabezadoConc {
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(24, 20, 20, 0.486)), url(../imagenes/encabezados/encabezadoConc.jpg) no-repeat fixed;
    height: 280px;
    background-size: 100% 350px;
    background-position: top; }
  #encabezadoColab {
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(24, 20, 20, 0.486)), url(../imagenes/encabezados/encabezadoColab.jpg) no-repeat fixed;
    height: 280px;
    background-size: 100% 350px;
    background-position: top; }
  #encabezadoHabl {
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(24, 20, 20, 0.486)), url(../imagenes/encabezados/encabezadoHabl.jpg) no-repeat fixed;
    height: 280px;
    background-size: 100% 350px;
    background-position: top; }
  #encabezadoHome {
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(24, 20, 20, 0.486)), url(../imagenes/encabezados/encabezadoHome.jpg) no-repeat fixed;
    height: 280px;
    background-size: 100% 350px;
    background-position: top; }
  .display-1 {
    font-size: 240%; }
  .display-6 {
    font-size: 140%; }
  h1 {
    padding-top: 18%; }
  h4, h5, h6, p {
    font-size: 18px; }
  h1, h2 {
    font-size: 25px; }
  main {
    position: relative;
    z-index: 1000; }
  /* index */
  #ArtIndexUno {
    display: flex;
    flex-direction: column;
    padding: 45px;
    padding-left: 10%;
    background: linear-gradient(#4e5055, rgba(5, 7, 12, 0.75)); }
  .card {
    position: relative;
    padding: 1em;
    width: 100%;
    transition: all 2s;
    background-color: #0b0b0e54;
    color: white;
    border-radius: 20px;
    background: #272727;
    box-shadow: 0 0px 0px #535353, 0px 0px 0px #424242; }
    .card img {
      transition: all 2s;
      border-radius: 20px; }
    .card img:hover {
      transform: none; }
  .SectionCarru {
    background-color: #333333; }
  .ArtImg {
    width: 900px;
    height: 300px; }
    .ArtImg img {
      width: 900px;
      height: 300px;
      border-radius: 30px; }
  video {
    height: 200px; }
  .videoIndex {
    padding: 0em;
    display: flex; }
    .videoIndex p {
      padding-left: 10%;
      text-align: center;
      width: 90%;
      color: black;
      font-size: 17px; }
  /* discografia */
  #sectionDisc {
    padding: 60px 15%;
    background-image: radial-gradient(#7c8888, #223534); }
    #sectionDisc h2 {
      color: black;
      line-height: 3;
      text-align: center;
      font-weight: bold; }
    #sectionDisc img:hover {
      transform: none; }
  .titilosDisc {
    color: #000000c9; }
  .articDisc {
    display: flex;
    flex-direction: column; }
    .articDisc p {
      width: 105%;
      font-size: 15px;
      color: #000000;
      margin-top: 20px; }
    .articDisc div img {
      border-radius: 20px;
      width: 105%;
      height: 90%;
      border-radius: 20px;
      background: #272727;
      box-shadow: 22px 22px 44px #535353, -22px -22px 44px #000000; }
  /* bandas */
  .SectionBand {
    background-color: #918b83; }
    .SectionBand h2 {
      color: black;
      line-height: 3;
      text-align: center;
      font-weight: bold; }
    .SectionBand ul li a {
      text-decoration: none;
      color: gray;
      font-weight: normal;
      transition: 300ms; }
    .SectionBand ul li a:hover {
      color: gray; }
    .SectionBand img {
      margin-left: 0px;
      width: 430px;
      height: 200px; }
  .BandDiv {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0; }
    .BandDiv p {
      width: 100%;
      font-size: 100%; }
    .BandDiv h2 {
      text-align: left;
      color: rgba(0, 0, 0, 0.418); }
  .artUno {
    width: 100%;
    height: 310px;
    padding-left: 2%; }
  /* conciertos */
  .secConc {
    background: #258f90;
    background: radial-gradient(circle, #274f50 0%, #555661 99%); }
    .secConc .secConc__h2 {
      color: black;
      line-height: 3;
      text-align: center;
      font-weight: bold; }
  .artConc {
    display: flex;
    flex-direction: column; }
    .artConc .artConc__text {
      width: 80%;
      padding-right: 30px;
      margin: 50px;
      height: 100%;
      border-radius: 3px;
      font-size: 15px; }
  .mediaQ {
    display: flex;
    flex-direction: column-reverse; }
  .artConc .artConc__img {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .artConc .artConc__img .artConc__img--tamaño {
      width: 100px;
      height: 100px;
      border-radius: 5px;
      margin: 5px; }
    .artConc .artConc__img .artConc__img--tamaño:hover {
      transform: none; }
  /* colaboraciones */
  .artColab {
    background-color: #575757; }
  .fito {
    text-align: center;
    padding-top: 30px; }
  .charly {
    text-align: center;
    padding-top: 30px; }
  .pappo {
    text-align: center;
    padding-top: 30px; }
  .sosa {
    text-align: center;
    padding-top: 30px; }
  .fito__h2 {
    font-size: 50px;
    color: black; }
  .charly__h2 {
    font-size: 50px;
    color: black; }
  .pappo__h2 {
    font-size: 50px;
    color: black; }
  .sosa__h2 {
    font-size: 50px;
    color: black; }
  .fito__img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: #272727;
    box-shadow: 0px 0px 0px #535353, 0px 0px 0px #000000; }
  .charly__img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: #272727;
    box-shadow: 0px 0px 0px #535353, 0px 0px 0px #000000; }
  .pappo__img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: #272727;
    box-shadow: 0px 0px 0px #535353, 0px 0px 0px #000000; }
  .sosa__img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background: #272727;
    box-shadow: 0px 0px 0px #535353, 0px 0px 0px #000000; }
  .fito__img--alb {
    width: 83%;
    height: 350px;
    margin-left: 9%;
    justify-content: center; }
  .charly__img--alb {
    width: 83%;
    height: 350px;
    margin-left: 9%;
    justify-content: center; }
  .pappo__img--alb {
    width: 83%;
    height: 350px;
    margin-left: 9%;
    justify-content: center; }
  .sosa__img--alb {
    width: 83%;
    height: 350px;
    margin-left: 9%;
    justify-content: center; }
  .fito__text {
    margin-left: 9%;
    width: 85%; }
  .charly__text {
    margin-left: 9%;
    width: 85%; }
  .pappo__text {
    margin-left: 9%;
    width: 85%; }
  .sosa__text {
    margin-left: 9%;
    width: 85%; }
  /* homenajes */
  .homenajes {
    text-align: center;
    background-color: #504f4f;
    padding-top: 50px; }
  .homenajes__img {
    width: 50%;
    height: 150px;
    margin: 6px; }
  .homenajes__img--video {
    width: 100%;
    height: 300px;
    padding-bottom: 50px; }
  .homenajes__texto {
    margin-left: 6%;
    font-size: 18px;
    color: black;
    width: 90%; }
  /* ***************** */
  .nat {
    text-align: center;
    background-color: rgba(39, 39, 39, 0.705);
    padding-top: 50px; }
  .nat__img {
    width: 200px;
    height: 150px;
    margin: 6px; }
  .nat__img--video {
    width: 100%;
    height: 300px;
    padding-bottom: 50px; }
  .nat__texto {
    margin-left: 6%;
    font-size: 18px;
    color: black;
    width: 90%; }
  /* footer */
  .footer {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.493);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px; }
  #redes {
    position: fixed;
    z-index: 1000;
    top: 94%;
    padding-left: 1%; }
  #redes ul {
    bottom: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-top: 0; }
    #redes ul li {
      display: flex; }
      #redes ul li a {
        display: inline-block;
        width: 45px;
        height: 40px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding-top: 10px;
        font-size: 129%;
        transition: 700ms;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.81) none;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.81) inset;
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.81) inset; }
      #redes ul li a:hover {
        transform: none; }
  #redes li .icon-facebook2 {
    background-color: #1a1a1afb; }
  #redes li .icon-mail4 {
    background-color: #3d3d3d; }
  #redes li .icon-instagram {
    background-color: #1a1a1afb; }
  #redes li .icon-tumblr2 {
    background-color: #3d3d3d; }
  #redes li .icon-skype {
    background-color: #1a1a1afb; }
  #redes li .icon-paypal {
    background-color: #3d3d3d; }
  .pie {
    padding-bottom: 40px;
    padding-left: 8%; } }
