/* Estilos para bandas */
.SectionBand {
    padding: 10px;
    background-color: rgb(145, 139, 131);
    h2 {
        @include colores (negro);
        line-height: 3;
        text-align: center;
        font-weight: bold;   
    }
    ul {
        li {
            a {
                text-decoration: none;
                @include colores (negro);
                font-weight: bold; 
                transition: 300ms;
                
            }
            a:hover {
                color: #27185e;
                font-size: 21px;
            }   
        }   
    }
    img {
        margin-left:5px ;
        width:430px;
    }
}

.BandDiv {
    display: inline-block;
    vertical-align: top;
    margin: 100px;
    nav {
        ul {
            li {
                list-style: decimal;
            }
        }
    }
    h2 {
        text-align: left;
    }
    
}




