/* Estilos para bandas */
.SectionBand {
    padding: 10px;
    background-color: rgb(145, 139, 131);
    
    
    h2 {
        @include colores (negro);
        line-height: 3;
        text-align: center;
        font-weight: bold;   
    }
    ul {
        li {
            margin-top: 3px;
            a {
                text-decoration: none;
                @include colores (gris);
                font-weight: bold; 
                
            }
            a:hover {
                @include colores (negro);
            }   
        }   
    }
}

.BandDiv {
    display: inline-block;
    vertical-align: top;
    margin: 30px;
    padding-top: 30px;
    padding-left: 9%;
    nav {
        ul {
            li {
                list-style: none;
                button {
                        text-align: left; 
                }
            }
        }
    }
    h2 {
        text-align: left;
        color: rgba(0, 0, 0, 0.418);
        font-size: 30px;
    }
    
}

.artUno {
    width: 900px;
    height: 500px;
    padding-left: 30%;
    
    h2{
        font-size: 40px;

    }
}

