/* Estilos para los encabezados y menus (INICIO) */

@each $lista in encabezado, encabezadoDisc, encabezadoBand, encabezadoConc, encabezadoColab, encabezadoHabl, encabezadoHome {
    ##{$lista} {
        height: 500px;
        background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/#{$lista}.jpg) no-repeat center fixed;
        background-size: cover;
        
    }
    
}



h1 {
    padding-top: 150px;
}
h1, h2 {
    color: rgba(196, 196, 196, 0.897);
    
    
}


