/* estilos para footer */

footer, .info {
    background-color: #000;
    margin-bottom: 0;
}

.footer  {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.493);
}

.info {
    list-style: none;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;

}