/* Estilos para el formulario */
.sectionForm {
    background-color: rgb(61, 69, 83);
    padding-top: 100px;
    padding-bottom: 100px;
    color: cornsilk;
}

.form-floating {
    @include colores (negro);
}
