/* ---R-E-S-P-O-N-S-I-V-E---- */

/****TABLET*****/
@media (min-width:600px) and (max-width:1024px){

    @each $lista in encabezado, encabezadoDisc, encabezadoBand, encabezadoConc, encabezadoColab, encabezadoHabl, encabezadoHome {
        ##{$lista} {
            height: 450px;   
                     
        }
    }
    h1 {
        padding-top: 125px;
    }
    h1, h2 {
        font-size: 25px;
    }
    /* Menu */

    .nav-link {
    font-size: 20px;
    color:  rgb(201, 201, 201);
    }

    @each $lista in encabezado, encabezadoDisc, encabezadoBand, encabezadoConc, encabezadoColab, encabezadoHabl, encabezadoHome {
        ##{$lista} {
            background: linear-gradient(rgba(5, 7, 12, 0.644), rgba(5, 7, 12, 0.75)), url(../imagenes/encabezados/#{$lista}.jpg) no-repeat fixed;
            height: 460px;   
            background-size: 100% 460px;   
            background-position: top;      
        }
    }


    /* ESTILOS PARA INDEX */



.imgIndex p {
    color: rgba(255, 255, 255, 0.856);
}

#ArtIndexUno {
    padding: 45px;
    padding-left: 35px;
    background: linear-gradient(rgba(78, 80, 85, 0.75), rgba(5, 7, 12, 0.75));
    }

.card {
    padding: 1em;
    width: 30%;
    transition: all 2s;
    background-color: #0b0b0e54;
    @include colores (blanco);
    border-radius: 20px;
    background: #272727;
    box-shadow:  22px 22px 44px #535353,
             -22px -22px 44px #424242;
    img {
        transition: all 2s;
        border-radius: 20px;
        height: 100%;
        
    }
    img:hover {
        transform: none;
    }
}

.card-text {
    display: none;
}

.SectionCarru {
    background-color: #333333;
}


.ArtImg {
    width: 900px;
    height: 500px;
    img {
        width: 900px;
        height: 500px;
        border-radius: 30px;
    }

}

#ArtIndexDos {
    @include bg-colores (gris);
    h2 {
        @include colores (negro);
        padding-top: 20px;
    
    }

}

video {
    height: 400px;

}

.videoIndex {
    padding: 0em;
    display: flex;
    p {
        padding-left: 10%;
        text-align: center;
        width: 90%;
        color: black;
        font-size: 25px;
    
    }
}

    /* Estilos para discografia */

#sectionDisc {
    padding: 50px 50px;
    h2 {
        @include colores (negro);
        line-height: 3;
        text-align: center;
        font-weight: bold;   
    }
    img:hover {
        transform:none;
    }
    
}
.titilosDisc {
    color: #000000c9;
}

.articDisc {
    p {
        font-size: 100%;
        color: #000000;


    }

    div img {
        border-radius: 20px;
        width: 300px;
        height: 300px;
        transition: all 2s;
        border-radius: 20px;
        background: #272727;
        box-shadow:  22px 22px 44px #535353,
                 -22px -22px 44px #000000;
    }

}

.articDisc {
    display: grid;
    grid-template-areas:
    "encabezado encabezado"
    "titUno titUno "
    "uno tUNO"
    "titDos titDos"
    "tDOS dos"
    "titTres titTres"
    "tres tTRES"
    "titCuatro titCuatro"
    "tCUATRO cuatro"
    "titCinco titCinco"
    "cinco tCINCO"
    "titSeis titSeis"
    "tSEIS seis"


}

.encabezadoDisc {
    grid-area: encabezado;
}

.tituloUno {
    grid-area: titUno;
}

.DiscUno {
    grid-area: uno;
}

.tUno {
    grid-area: tUNO;
    

}


.tituloDos {
    grid-area: titDos;
}

.DiscDos {
    grid-area: dos;

    justify-self: end;

}

.tDos {
    grid-area: tDOS;


}

.tituloTres {
    grid-area: titTres;

}

.DiscTres {
    grid-area: tres;


}

.tTres {
    grid-area: tTRES;
    justify-self: end;
    padding-left: 10%;

 

}

.tituloCuatro {
    grid-area: titCuatro;

}

.DiscCuatro {
    grid-area: cuatro;

    justify-self: end;

}

.tCuatro {
    grid-area: tCUATRO;


}

.tituloCinco {
    grid-area: titCinco;

}

.DiscCinco {
    grid-area: cinco;



}

.tCinco {
    grid-area: tCINCO;
    justify-self: end;
    padding-left: 10%;


}

.tituloSeis {
    grid-area: titSeis;

}

.DiscSeis {
    grid-area: seis;

    justify-self: end;


}

.tSeis {
    grid-area: tSEIS;


}

/* bandas */

.SectionBand {
    background-color: rgb(145, 139, 131);
    h2 {
        @include colores (negro);
        line-height: 3;
        text-align: center;
        font-weight: bold;   
    }

    ul {
        li {
            a {
                text-decoration: none;
                @include colores (gris);
                font-weight: normal; 
                transition: 300ms;
                
            }
            a:hover {
                @include colores (gris);
            }   
        }   
    }
    img {
        margin-left:0px ;
        width:430px;
        height: 200px;
    }
}


.BandDiv {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    p {
        width: 100%;
        font-size: 100%;
    }


    h2 {
        text-align: left;
        color: rgba(0, 0, 0, 0.418);
    }
    
}

.artUno {
    width: 78%;
    height: 310px;
    padding-left: 25%;
}


    /*conciertos */
    .secConc {
    background: rgb(37,143,144);
    background: radial-gradient(circle, rgb(39, 79, 80) 0%, rgba(21, 22, 32, 0.637) 99%);
    .secConc__h2 {
        @include colores (negro);
        line-height: 3;
        text-align: center;
        font-weight: bold;   
    }
}

.artConc {
    display: flex;
    flex-direction: column;
    .artConc__text {
        width: 80%;
        padding-left: 100px;
        margin: 50px;
        height: 100%;
        border-radius: 3px;
        font-size: 15px;
    }
    
    
}

.mediaQ {
    display: flex;
    flex-direction: column-reverse;
}

.artConc {
    .artConc__img{
        padding: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .artConc__img--tama単o {
            width: 150px;
            height: 150px;
            border-radius: 5px;
            margin: 5px;
        }
        .artConc__img--tama単o:hover {
            transform:none;
        }
        
    } 
}

/* colaboraciones */

@each $principal in fito, charly, pappo, sosa {
    .#{$principal} {
        text-align: center;
        padding-top: 30px;
    }
}

@each $h2 in fito__h2, charly__h2, pappo__h2, sosa__h2 {
    .#{$h2} {
        font-size: 50px;
        @include colores (negro);

    }
}

@each $imagenes in fito__img, charly__img, pappo__img, sosa__img {
    .#{$imagenes} {
        width: 150px;
        height: 150px;
        margin: 10px;
        margin-top: 20px;
        border-radius: 20px;
        background: #272727;
        box-shadow:  15px 15px 37px #535353,
                 -15px -15px 37px #000000;
    }
}

@each $album in fito__img--alb, charly__img--alb, pappo__img--alb, sosa__img--alb {
    .#{$album} {
        width: 60%;
        height: 350px;
        margin-left: 20%;
        justify-content: center;
    }
}

@each $text in fito__text, charly__text, pappo__text, sosa__text {
    .#{$text} {
        margin-left: 9%;
        width: 85%;
    }
}


/* homenajes */

.homenajes {
    text-align: center;
    background-color: rgb(80, 79, 79);
    padding-top: 50px;
}

.homenajes__img {
    width: 50%;
    height: 150px;
    margin: 6px;
}

.homenajes__img--video {
    width: 100%;
    height: 50%;
    padding-bottom: 50px;
}

.homenajes__texto {
    margin-left: 6%;
    font-size: 18px;
    @include colores (negro);
    width: 90%;
}


/* ***************** */


.nat {
    text-align: center;
    background-color: rgba(39, 39, 39, 0.705);
    padding-top: 50px;
}

.nat__img {
    width: 200px;
    height: 150px;
    margin: 6px;
}

.nat__img--video {
    width: 100%;
    height: 50%;
    padding-bottom: 50px;
}

.nat__texto {
    margin-left: 6%;
    font-size: 18px;
    @include colores (negro);
    width: 90%;
}






}








/* -------------------------------------------------------------------- */











  
/***SMARTPHONE****/

@media (max-width:599px){


    /* Menu */


    .menu {
        display: none;
    }

     .nav-link {
         font-size: 18px;
         color:  rgb(201, 201, 201);
     
     }
     
     .nav-link:hover {
         color: rgba(187, 194, 202, 0.781);
     }

     .navResponsive {
        display: block;
        position: relative;  
    }
    .navbar {
        position: relative;
        z-index: 2000;
    }
    .navbar-brand {
        color: rgb(211, 38, 38);
    }


    /* encabezado */

    @each $lista in encabezado, encabezadoDisc, encabezadoBand, encabezadoConc, encabezadoColab, encabezadoHabl, encabezadoHome {
        ##{$lista} {
            background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(24, 20, 20, 0.486)), url(../imagenes/encabezados/#{$lista}.jpg) no-repeat fixed;
            height: 280px;   
            background-size: 100% 350px;   
            background-position: top;      
        }
    }

    .display-1{
        font-size: 240%;
    }

    .display-6{
        font-size: 140%;
    }

    h1 {
        padding-top: 18%;
    }

    h4, h5, h6, p {
        font-size: 18px;

    }

    h1, h2 {
        font-size: 25px;
    }


    main {
        position: relative;
        z-index: 1000;
    }
    /* index */

    #ArtIndexUno {
        display: flex;
        flex-direction: column;
        padding: 45px;
        padding-left: 10%;
        background: linear-gradient(rgb(78, 80, 85), rgba(5, 7, 12, 0.75));
        }
    .card {
        position: relative;
        padding: 1em;
        width: 100%;
        transition: all 2s;
        background-color: #0b0b0e54;
        @include colores (blanco);
        border-radius: 20px;
        background: #272727;
        box-shadow:  0 0px 0px #535353,
                 0px 0px 0px #424242;
        img {
            transition: all 2s;
            border-radius: 20px;
        }
        img:hover {
            transform: none;
        }
    }

    .SectionCarru {
        background-color: #333333;
    }
    
    
    .ArtImg {
        width: 900px;
        height: 300px;
        img {
            width: 900px;
            height: 300px;
            border-radius: 30px;
        }
    
    }
    
    video {
        height: 200px;
    
    }

    .videoIndex {
        padding: 0em;
        display: flex;
        p {
            padding-left: 10%;
            text-align: center;
            width: 90%;
            color: black;
            font-size: 17px;
        
        }
    }

    /* discografia */

    #sectionDisc {
        padding: 60px 15%;
        background-image: radial-gradient(#7c8888, rgb(34, 53, 52));
        h2 {
            @include colores (negro);
            line-height: 3;
            text-align: center;
            font-weight: bold;   
        }
        img:hover {
            transform:none;
        }
        
    }
    .titilosDisc {
        color: #000000c9;
    }
    
    .articDisc {
        display: flex;
        flex-direction: column;
        p {
            width: 105%;
            font-size: 15px;
            color: #000000;
            margin-top: 20px;
    
    
        }
    
        div img {
            border-radius: 20px;
            width: 105%;
            height: 90%;
            border-radius: 20px;
            background: #272727;
            box-shadow:  22px 22px 44px #535353,
                     -22px -22px 44px #000000;
        }
    
    }

/* bandas */

.SectionBand {
    background-color: rgb(145, 139, 131);
    h2 {
        @include colores (negro);
        line-height: 3;
        text-align: center;
        font-weight: bold;   
    }

    ul {
        li {
            a {
                text-decoration: none;
                @include colores (gris);
                font-weight: normal; 
                transition: 300ms;
                
            }
            a:hover {
                @include colores (gris);
            }   
        }   
    }
    img {
        margin-left:0px ;
        width:430px;
        height: 200px;
    }
}


.BandDiv {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    p {
        width: 100%;
        font-size: 100%;
    }


    h2 {
        text-align: left;
        color: rgba(0, 0, 0, 0.418);
    }
    
}

.artUno {
    width: 100%;
    height: 310px;
    padding-left: 2%;
}


/* conciertos */

.secConc {
    background: rgb(37,143,144);
    background: radial-gradient(circle, rgb(39, 79, 80) 0%, rgb(85, 86, 97) 99%);
    .secConc__h2 {
        @include colores (negro);
        line-height: 3;
        text-align: center;
        font-weight: bold;   
    }
}

.artConc {
    display: flex;
    flex-direction: column;
    .artConc__text {
        width: 80%;
        padding-right: 30px;
        margin: 50px;
        height: 100%;
        border-radius: 3px;
        font-size: 15px;
    }
    
    
}

.mediaQ {
    display: flex;
    flex-direction: column-reverse;
}

.artConc {
    .artConc__img{
        padding: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .artConc__img--tama単o {
            width: 100px;
            height: 100px;
            border-radius: 5px;
            margin: 5px;
        }
        .artConc__img--tama単o:hover {
            transform:none;
        }
        
    } 
}

/* colaboraciones */
.artColab {
    background-color: rgb(87, 87, 87);
}


@each $principal in fito, charly, pappo, sosa {
    .#{$principal} {
        text-align: center;
        padding-top: 30px;
    }
}

@each $h2 in fito__h2, charly__h2, pappo__h2, sosa__h2 {
    .#{$h2} {
        font-size: 50px;
        @include colores (negro);

    }
}

@each $imagenes in fito__img, charly__img, pappo__img, sosa__img {
    .#{$imagenes} {
        width: 150px;
        height: 150px;
        margin: 10px;
        margin-top: 20px;
        border-radius: 20px;
        background: #272727;
        box-shadow:  0px 0px 0px #535353,
                 0px 0px 0px #000000;
    }
}

@each $album in fito__img--alb, charly__img--alb, pappo__img--alb, sosa__img--alb {
    .#{$album} {
        width: 83%;
        height: 350px;
        margin-left: 9%;
        justify-content: center;
    }
}

@each $text in fito__text, charly__text, pappo__text, sosa__text {
    .#{$text} {
        margin-left: 9%;
        width: 85%;
    }
}

/* homenajes */

.homenajes {
    text-align: center;
    background-color: rgb(80, 79, 79);
    padding-top: 50px;
}

.homenajes__img {
    width: 50%;
    height: 150px;
    margin: 6px;
}

.homenajes__img--video {
    width: 100%;
    height: 300px;
    padding-bottom: 50px;
}

.homenajes__texto {
    margin-left: 6%;
    font-size: 18px;
    @include colores (negro);
    width: 90%;
}


/* ***************** */


.nat {
    text-align: center;
    background-color: rgba(39, 39, 39, 0.705);
    padding-top: 50px;
}

.nat__img {
    width: 200px;
    height: 150px;
    margin: 6px;
}

.nat__img--video {
    width: 100%;
    height: 300px;
    padding-bottom: 50px;
}

.nat__texto {
    margin-left: 6%;
    font-size: 18px;
    @include colores (negro);
    width: 90%;
}

/* footer */

.footer  {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.493);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}


#redes {
    position: fixed;
    z-index: 1000;
    top: 94%;
    padding-left: 1% ; 
}

#redes ul {
    bottom: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: row;
    padding-top: 0;
    

    

    
    li {
        display: flex;


        a {
            display: inline-block;
            width: 45px;
            height: 40px;
            background-color: #000;
            color: #fff;
            text-decoration: none;
            text-align: center;
            padding-top: 10px;
            font-size: 129%;
            transition: 700ms;
            border-radius: 5px;
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.81) none;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.81) inset;
            -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.81) inset;
        }
        a:hover {
             transform: none;
        }
        
    }

}



#redes li .icon-facebook2 {background-color: #1a1a1afb;}
#redes li .icon-mail4 {background-color: #3d3d3d;}
#redes li .icon-instagram {background-color: #1a1a1afb;}
#redes li .icon-tumblr2 {background-color: #3d3d3d;}
#redes li .icon-skype {background-color: #1a1a1afb;}
#redes li .icon-paypal {background-color: #3d3d3d;}


}



