/*  Smartphone*/

@media (max-width:599px){

    h4, h5, h6, p {
        font-size: 14px;

    }

    h1, h2 {
        font-size: 25px;
    }

    /* index */
    .card {
        padding: 1em;
        width: 375px;
        transition: all 2s;
        background-color: #0b0b0e54;
        @include colores (blanco);
        border-radius: 20px;
        background: #272727;
        box-shadow:  22px 22px 44px #535353,
                 -22px -22px 44px #424242;
        img {
            transition: all 2s;
            border-radius: 20px;
            
        }
        img:hover {
            transform: none;
        }
    }
    .videoIndex {
        padding: 1em;
        p {
            text-align: center;
            width: 450px;
            color: black;
        
        }
    }

    /* discografia */

    #sectionDisc {
        padding: 60px 15%;
        background-image: radial-gradient(#7c8888, rgb(34, 53, 52));
        h2 {
            @include colores (negro);
            line-height: 3;
            text-align: center;
            font-weight: bold;   
        }
        img:hover {
            transform:none;
        }
        
    }
    .titilosDisc {
        color: #000000c9;
    }
    
    .articDisc {
        display: flex;
        flex-direction: column;
        p {
            width: 390px;
            font-size: 15px;
            color: #000000;
            margin-top: 20px;
    
    
        }
    
        div img {
            border-radius: 20px;
            width: 350px;
            height: 350px;
            border-radius: 20px;
            background: #272727;
            box-shadow:  22px 22px 44px #535353,
                     -22px -22px 44px #000000;
        }
    
    }

/* bandas */

.SectionBand {
    background-color: rgb(145, 139, 131);
    h2 {
        @include colores (negro);
        line-height: 3;
        text-align: center;
        font-weight: bold;   
    }

    ul {
        li {
            a {
                text-decoration: none;
                @include colores (gris);
                font-weight: normal; 
                transition: 300ms;
                
            }
            a:hover {
                @include colores (gris);
            }   
        }   
    }
    img {
        margin-left:0px ;
        width:430px;
        height: 200px;
    }
}


.BandDiv {
    margin: 0;
    padding-left: 20px;
    p {
        width: 440px;
        font-size: 17px;
        /* border: 1px black solid; */
    }
    display: flex;
    flex-direction: column;
    nav {
        ul {
            li {
                text-align: left;
                list-style: none;
            }
        }
    }
    h2 {
        text-align: center;
    }
    
}

.artUno {
    width: 430px;
    height: 300px;
    padding-left: 50px;
}


/* conciertos */

.secConc {
    background: rgb(37,143,144);
    background: radial-gradient(circle, rgb(39, 79, 80) 0%, rgba(21, 22, 32, 0.637) 99%);
    .secConc__h2 {
        @include colores (negro);
        line-height: 3;
        text-align: center;
        font-weight: bold;   
    }
}

.artConc {
    display: flex;
    flex-direction: column-reverse;
    .artConc__text {
        width: 80%;
        padding-right: 30px;
        margin: 50px;
        height: 100%;
        border-radius: 3px;
        font-size: 15px;
    }
    
    
}

.mediaQ {
    display: flex;
    flex-direction: column-reverse;
}

.artConc {
    .artConc__img{
        padding: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .artConc__img--tamaño {
            width: 150px;
            height: 150px;
            border-radius: 5px;
            margin: 5px;
        }
        .artConc__img--tamaño:hover {
            transform:none;
        }
        
    } 
}


}

